<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Add user</title>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:action="@{/users/new}" th:object="${user}" method="post">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" th:field="*{username}" id="name" required>


        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" id="password" required>

        <label for="matchingPassword"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" th:field="*{matchingPassword}" id="matchingPassword" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" th:field="*{email}" id="email" required>
        <hr>

        <button type="submit" >Register</button>
    </div>
</form>
</body>
</html>